3-etapa/output/wf_main_dev_post_edit_snapshot.json
{
  "updatedAt": "2026-07-22T01:16:35.988Z",
  "createdAt": "2026-07-21T18:12:20.064Z",
  "id": "x7L6Z0klfhvqWx1R",
  "name": "EvolutionDeliveyRagHibridoDataTables-export__DEV_DONA_ROSA_20260721",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('SetFieldsBasic').first().json.MessageID }}"
            },
            {
              "name": "convertToMp4",
              "value": "true"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "timeout": 10000
        }
      },
      "id": "78e3b7aa-e2fd-43ee-87a6-a64092546e0a",
      "name": "GetAudio-HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6384,
        624
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "8684cf6a-c7ac-46c1-aab6-726e1ffbebf7",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6112,
        624
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6cb6722-aacd-48de-b93a-8e3726bbabe5",
              "name": "text",
              "value": "={{ $('Webhook')?.first().json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "2199088e-08dc-4bef-9dd1-a739574fe2a6",
              "name": "type",
              "value": "={{ $('Webhook')?.first().json.body.data.messageType || \"text\" }}",
              "type": "string"
            },
            {
              "id": "616e1a4d-f22f-4125-90d8-8c7b761013f1",
              "name": "phone_number",
              "value": "={{ $('Webhook')?.first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "53a69954-72c9-4bb9-8f1a-2bf7f26d70d4",
              "name": "ConversationID",
              "value": "={{ $('Webhook')?.first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "c726f6bf-f026-4615-9a3d-840c537df07e",
              "name": "user_from",
              "value": "={{ $('Webhook')?.first().json.body.data.pushName  }}",
              "type": "string"
            },
            {
              "id": "6645fa38-1d52-4d65-ab2b-004c337b0776",
              "name": "evolution_instance",
              "value": "={{ $('Webhook')?.first().json.body.instance  }}",
              "type": "string"
            },
            {
              "id": "15da7191-efbe-427b-b376-bd7a06997b10",
              "name": "remoteJid",
              "value": "={{ $('Webhook')?.first().json.body.data.key.remoteJid  }}",
              "type": "string"
            },
            {
              "id": "b94afc26-ac84-474a-b12e-af59a9104c69",
              "name": "evolutiom_api_url",
              "value": "={{ $('Webhook')?.item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "27a5a32b-b8d7-4b08-8e41-385eed83fe62",
              "name": "evolution_api_key",
              "value": "={{ $('Webhook')?.first().json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "77d7d584-332b-44ea-96be-e941762f90b4",
              "name": "evolution_chatID",
              "value": "={{ $('Webhook')?.first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4e12e180-8336-4cce-80f4-b542ef4f6631",
              "name": "url_audio_evolution_api",
              "value": "={{ $('Webhook')?.first().json.body.data?.message.audioMessage?.url}}",
              "type": "string"
            },
            {
              "id": "5cc25668-f3e6-45b9-ac44-39659298ecab",
              "name": "MessageID",
              "value": "={{ $('Webhook')?.first().json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "7fbaa3a2-19fc-42b4-ba8f-f21ce01e0a18",
              "name": "EvolutionApi_URL",
              "value": "={{ $('Webhook')?.first().json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "823b135b-e45f-437c-8531-b4221d15b4a5",
              "name": "phone",
              "value": "={{ $('Webhook')?.first()?.json?.body?.data?.key?.remoteJid?.replace(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "bea94f83-af9e-425a-8856-f01cb395d51f",
              "name": "extendedTextMessage",
              "value": "={{ $('Webhook')?.first().json.body?.data?.message?.extendedTextMessage?.text || \"\" }}",
              "type": "string"
            },
            {
              "id": "9b931868-30af-4d71-8599-4ee6fbb4a2f3",
              "name": "ephemeralMessage",
              "value": "={{ $('Webhook').first().json.body.data?.message?.ephemeralMessage?.message?.extendedTextMessage?.text || \"\" }}",
              "type": "string"
            },
            {
              "id": "ccad20b5-8a59-407e-8725-c3515f7d4db5",
              "name": "ElevenLabsAPI-KEY",
              "value": "--SUA-KEY-AQUI--",
              "type": "string"
            },
            {
              "id": "c1931e9a-787f-4af2-8570-8021fdd27fbf",
              "name": "EnableElevenLabsAPI",
              "value": "false",
              "type": "string"
            },
            {
              "id": "07db2657-707c-4003-aaa7-4be613f1599e",
              "name": "ElevenLabsVozID",
              "value": "21m00Tcm4TlvDq8ikWAM",
              "type": "string"
            },
            {
              "id": "3469b9eb-2516-4c57-8971-0e85602304c5",
              "name": "ElevenLabsVozIDGratis-01",
              "value": "EXAVITQu4vr4xnSDxMaL",
              "type": "string"
            },
            {
              "id": "638a9fe8-5f0b-40ca-851d-29b6b10aff0d",
              "name": "ElevenLabsVozIDGratis-02",
              "value": "FGY2WhTYpPnrIDTdsKH5",
              "type": "string"
            },
            {
              "id": "ec371540-12d0-4108-b7d8-57e0ab943bfe",
              "name": "ElevenLabsVozIDGratis-03",
              "value": "Xb7hH8MSUJpSbSDYk0k2",
              "type": "string"
            },
            {
              "id": "0c6a26d8-a0a4-43fa-8abe-00483b5e044c",
              "name": "fromMe",
              "value": "={{ $('Webhook').first().json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "3d635306-cd20-4ced-9d8f-7d63d31a9574",
              "name": "AllWaysReplyText",
              "value": "true",
              "type": "string"
            },
            {
              "id": "35d8085a-d497-4bb4-b428-6c0f590eba24",
              "name": "timestamp",
              "value": "={{ $now.toSeconds() }}",
              "type": "string"
            },
            {
              "id": "5777b715-4d01-497b-b9e0-1b7f7674d335",
              "name": "app_name",
              "value": "delivery_rag",
              "type": "string"
            },
            {
              "id": "7fa51975-1e65-4b6c-95f4-73f0ea989f84",
              "name": "vector_store_id",
              "value": "--SUA-KEY-AQUI--",
              "type": "string"
            },
            {
              "id": "f3fc369e-b971-4fb8-b553-b6a0e89c5b12",
              "name": "openia_api_key",
              "value": "--SUA-KEY-AQUI--",
              "type": "string"
            },
            {
              "id": "7a839fa7-7702-43d4-afbd-492e52db2c29",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "436af46d-027d-4de1-b1eb-1749c6ce5b9a",
      "name": "SetFieldsBasic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7872,
        1088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df119838-c757-4618-a3c8-2e1aede4115b",
              "name": "text",
              "value": "={{ $('SetFieldsBasic').item.json.extendedTextMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b86a11a-f17c-4ccb-b01e-68340eabe979",
      "name": "SetTextExtendedTextMessage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6432,
        1376
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df119838-c757-4618-a3c8-2e1aede4115b",
              "name": "text",
              "value": "={{ $('SetFieldsBasic').item.json.ephemeralMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9eb8c659-2c1e-4c14-89df-cf43030979a7",
      "name": "SetEphemeralMessage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6432,
        1168
      ]
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "10234bf8-1ace-4c76-af00-fdf6d7d9664c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -5664,
        1568
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ace55bc-45c2-4cfe-b8a7-64a409c44b47",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7bfc8e6f-b78c-40c3-93a0-523e905b6070",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8128,
        1120
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "216b830c-ed10-4839-b6f0-29589acea816",
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3aeec6b2-f67b-4a8f-97ef-4d44d99ee0fb",
      "name": "FromMe-Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7632,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=traplist-{{ $json.remoteJid }}"
      },
      "id": "05afeba4-5ef1-4f7e-ad4f-42d276619154",
      "name": "RemoveFromTrapList",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7536,
        2352
      ],
      "credentials": {
        "redis": {
          "id": "XQZTt1l9xjZGXVBd",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=traplist-{{$('Webhook').item.json.body.data.key.remoteJid }}",
        "messageData": "true"
      },
      "id": "70bdd405-2e9c-4c04-adb6-12db12ae6a39",
      "name": "AddTrapList",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7536,
        2144
      ],
      "credentials": {
        "redis": {
          "id": "XQZTt1l9xjZGXVBd",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').item.json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$('SetFieldsBasic').item.json.phone}}"
            },
            {
              "name": "text",
              "value": "=Chatbot parado para o número : {{$('RemoveCliente').item.json.phone }}"
            },
            {
              "name": "key,fromMe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "41183aab-01cd-4a7d-94d2-c459aaea51bb",
      "name": "Evolution API - HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7200,
        2144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').item.json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$('SetFieldsBasic').item.json.phone}}"
            },
            {
              "name": "text",
              "value": "=Chatbot inciado para o número : {{$('RemoveCliente').item.json.phone }}"
            },
            {
              "name": "key,fromMe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "1b8a885f-d8f9-41c2-a232-d3afc2067059",
      "name": "Evolution API - HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7200,
        2352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "trap-list",
        "key": "=traplist-{{$('SetFieldsBasic').item.json.remoteJid }}",
        "options": {}
      },
      "id": "339340b9-c2a5-4ab4-a7f2-d80b4f0ee8ee",
      "name": "BuscaTrapList1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7232,
        1152
      ],
      "credentials": {
        "redis": {
          "id": "XQZTt1l9xjZGXVBd",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cebe163-b56d-4bb2-ba87-c716fee0d32f",
              "leftValue": "={{ $json['trap-list'] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "541e3824-4e7a-4f7c-8101-37fad4da6c81",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7232,
        1008
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f70f1830-a72f-47bc-8885-bd5209f7d70d",
                    "leftValue": "={{ $('SetFieldsBasic').first().json.type }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('SetFieldsBasic').first().json.type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00618543-c915-4b04-a34e-a6f3bb266a39"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8ad5e3e1-4996-444b-ae49-e3cc69b41cff",
                    "leftValue": "={{ $('SetFieldsBasic').first().json.type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82ed6c89-f8f0-42dc-af37-3a9ba88be43f",
                    "leftValue": "={{ $('SetFieldsBasic').first().json.type }}",
                    "rightValue": "ephemeralMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b1379ec-28c5-4fbf-9e64-774c6ca4c551",
                    "leftValue": "={{ $('SetFieldsBasic').first().json.type }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "16eeed41-5abc-4512-9c6e-93b3645fc0f7",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6976,
        1072
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df119838-c757-4618-a3c8-2e1aede4115b",
              "name": "text",
              "value": "={{ $('SetFieldsBasic').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a68c0bbc-707b-432d-bb53-68afe1654b07",
      "name": "SetConversation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6432,
        992
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1822C22E8AC4-4993-9E8B-997AB7E04691",
        "options": {}
      },
      "id": "e36e18fe-f7b2-4eaa-8db7-c3bde9923688",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -8144,
        384
      ],
      "webhookId": "148ef309-ed7a-4b2c-9471-90cc7ded1a83",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "a719dfa8-38e3-4945-9741-b1d21a899c72",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -5744,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "suQdsHsEoVjlixfK",
          "name": "OpenAI account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "@stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a637b2ac-6c58-496c-a0fe-722e4d74d25f",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "@start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "db848dc6-0a59-4ad3-a103-4b489cce2e74",
      "name": "RemoveCliente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7840,
        2240
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "5584655d-fbad-44e5-b084-f2f56a6416d7",
      "name": "Audio-Base64-Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2496,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('SetFieldsBasic').first().json.remoteJid }}"
            },
            {
              "name": "audio",
              "value": "={{ $json.data }}"
            },
            {
              "name": "key.fromMe",
              "value": "false"
            },
            {
              "name": "options.encoding",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "43b4cb9c-f68e-400c-a356-babf7ce07b6c",
      "name": "(audio)Evolution API - HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        1280
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$('SetFieldsBasic').first().json.phone}}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d6500c2-4e98-4000-aef8-64083462b47a",
      "name": "Evolution API - HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        448
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {},
      "id": "4c4c737a-3de6-420e-990c-8956e9ea3c05",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2160,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "={{ $('SetFieldsBasic').item.json['ElevenLabsAPI-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"text\":\"'{{$('IF-ElevenLabs').item.json.text?.replaceAll('\"',\"\").replaceAll('\\n','').replaceAll('*','').replaceAll('-','').replaceAll(':00',' horas ') }}'\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ",
        "options": {}
      },
      "id": "552f87e2-3fa8-4f68-8625-61d6d858e25a",
      "name": "ElevenLabsGenerateVoice",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2064,
        1216
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "906ff569-de44-4bd7-bb17-5691a0dab3e1",
              "leftValue": "={{ $('SetFieldsBasic').item.json.EnableElevenLabsAPI }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6fb9d30-7c00-4d5d-81a7-babcd0c5b8d3",
      "name": "IF-ElevenLabs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        1216
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text.replaceAll('\\n','').replaceAll('-','') }}",
        "options": {
          "response_format": "mp3"
        }
      },
      "id": "ad82be6c-5659-4718-9e43-7dfa64d229a5",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1936,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "suQdsHsEoVjlixfK",
          "name": "OpenAI account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "017d31a6-85c7-4467-9cb7-04b884c884f1",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2032,
        176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4dfe8b37-6e0e-4c64-84cd-8b2db244b457",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c42b80d7-89c4-4aa0-9e6c-f4f8804e9e81",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "31f34613-d85a-4468-83ae-5b6ee8c90eb3",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d720ae89-30e4-46d2-992f-3e229d425c6b",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "29976cd9-a9f2-43c7-a188-558900b9c0f8",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "87ab903e-6345-4fc1-81fc-26014904a44c",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6949633a-3ba1-41e6-9213-4c81ed55431c",
              "leftValue": "={{ $('SetFieldsBasic').first().json.AllWaysReplyText }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5d64a96-5838-45fc-bc2a-bc9ee464d19b",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        960
      ]
    },
    {
      "parameters": {
        "content": "# 📄 ENVIO DE MÍDIAS, ENVIOS DE PDF E FINALIZAÇÃO\n\n• **SetPdfUrl:** Monta o link e parâmetros para geração de documentos PDF (ex: resumo do pedido/comanda).\n• **(pdf) / (media) / (Image) Evolution API:** Envia comprovantes, cardápios em PDF ou fotos de pratos.\n• **Wait & Merge4:** Controla os segundos de pausa entre envios sucessivos e finaliza a execução do fluxo.",
        "height": 1360,
        "width": 2968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1584
      ],
      "id": "7244ff20-fd7f-495b-9b23-88bacbc62fdf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 🛑 PAUSA E RETOMADA DO BOT (TRAP LIST)\n\n• **RemoveCliente (Switch):** Identifica comandos manuais do atendente no WhatsApp (ex: #parar ou #voltar).\n• **AddTrapList (Redis):** Insere o número do cliente na lista de atendimento humano (bloqueia respostas automáticas).\n• **RemoveFromTrapList (Redis):** Remove o número da lista e devolve a conversa para a IA.\n• **Evolution API HTTP 2 & 3:** Envia mensagem ao cliente avisando que o bot foi pausado ou reativado.",
        "height": 600,
        "width": 2904,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8352,
        1968
      ],
      "id": "26a10e10-b01f-45fb-88cd-c26b43845244",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Obter todos os itens de entrada\nconst items = $input.all();\n\n//console.log('Estrutura completa dos itens:', JSON.stringify(items, null, 2));\n\nfunction extractFieldFromMessages(array, field) {\n  // Iterar sobre os itens\n  return array.flatMap(item => {\n    // Obter o array de mensagens\n    const messages = item.json.messages || [];\n    // Parsear cada string JSON no array e extrair o campo desejado\n    return messages.map(message => {\n      try {\n        const parsedMessage = JSON.parse(message); // Parsear a string JSON\n        return parsedMessage[field]; // Retornar o campo desejado\n      } catch (error) {\n        console.error('Erro ao parsear mensagem:', message, error);\n        return null; // Ignorar mensagens inválidas\n      }\n    });\n  }).filter(value => typeof value === 'string'); // Filtrar valores não string\n}\n\n// Extrair o campo 'text' de todas as mensagens\nconst msgs = extractFieldFromMessages(items, 'text');\n\n//console.log('Mensagens extraídas:', msgs);\n\n// Remover duplicados diretamente das mensagens extraídas\nconst uniqueMessages = [...new Set(msgs)];\n\nconsole.log('Mensagens únicas:', uniqueMessages);\n\n// Construir o resultado\nconst result = [\n  {\n    json: {\n      messages:uniqueMessages,\n    },\n  },\n];\n\n// Retornar o resultado\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6816,
        2736
      ],
      "id": "03520b3f-a124-4301-b519-b9a5e69d8c53",
      "name": "RemoverRepetidos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2fce443-aed1-46fe-b0ba-fca2170c6493",
              "name": "text",
              "value": "={{ $('RemoverRepetidos').item.json.messages.map(item => item).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "id": "0398df3f-a13c-4ccf-878e-64279dcd5075",
      "name": "AgruparMSGs1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6464,
        2736
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "b5de0a30-5ad3-44cf-9d42-4d80151bb8dd",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7328,
        3088
      ],
      "webhookId": "6c90f76e-ae1f-4162-80ba-a9b95509933c"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=msgs-{{ $('SetFieldsBasic').first().json.phone }}",
        "messageData": "={{ JSON.stringify($('SetMessageDebounce')?.item?.json)  }}"
      },
      "id": "f27ebbb9-1fe3-4218-92f0-939e972625cd",
      "name": "RedisPushMsgs1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7840,
        2768
      ],
      "credentials": {
        "redis": {
          "id": "XQZTt1l9xjZGXVBd",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs-{{ $('SetFieldsBasic').first().json.phone }}"
      },
      "id": "6a059ba4-6b77-4a37-b814-1fef9ab249ec",
      "name": "RedisClearMSGs3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5984,
        2736
      ],
      "credentials": {
        "redis": {
          "id": "XQZTt1l9xjZGXVBd",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=messages",
        "key": "=msgs-{{ $('SetFieldsBasic').first().json.phone }}",
        "options": {}
      },
      "id": "090efbfc-5295-4972-ac7b-8d85dc147d2f",
      "name": "ListaMsg-Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7568,
        2768
      ],
      "credentials": {
        "redis": {
          "id": "XQZTt1l9xjZGXVBd",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# ⏳ DEBOUNCE & AGRUPAMENTO DE MENSAGENS\n\n• **SetMessageDebounce:** Prepara o pacote da mensagem para a fila de espera do Redis.\n• **RedisPushMsgs1 / ListaMsg-Redis1:** Salva e lista mensagens enviadas rapidamente em sequência pelo cliente.\n• **Switch2 & Wait3:** Cria uma janela de espera de alguns segundos para acumular frases antes de responder.\n• **RemoverRepetidos (Code JS):** Elimina duplicidades ou requisições repetidas de mensagens.\n• **AgruparMSGs1:** Concatena todas as frases do cliente em um único texto completo para a IA.\n• **RedisClearMSGs3:** Limpa o histórico da fila temporária no Redis após o processamento.",
        "height": 724,
        "width": 2920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8368,
        2624
      ],
      "id": "066bde0c-c132-494e-a7a4-f3da80a07aec",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "401b5ee7-9280-4819-84e0-87190ead5738",
                    "leftValue": "={{ \nparseInt($now.toSeconds() - $json.messages?.last().parseJson().timestamp) || 0\n}}\n",
                    "rightValue": "={{ 1 }}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doSomething"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06e7afb5-bc85-4f3e-8a33-abed98a78069",
                    "leftValue": "={{ $json.messages?.last().parseJson()?.text || \"\" }}",
                    "rightValue": "={{ $('Merge').item.json.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doNothing"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "id": "9ea78dfd-9723-4de4-9d82-5f1ad77920fc",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7328,
        2768
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -368,
        224
      ],
      "id": "c5eed330-d5d1-4185-9a4f-2553172ec8f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        2608
      ],
      "id": "cbe4c744-c72c-478f-ab61-76c52f663a28",
      "name": "Wait",
      "webhookId": "5a9703d8-dcc1-4664-8488-c71099beab73"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e4e3a62-667a-4c4c-8da4-e90a15d78c07",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2512,
        192
      ],
      "id": "e9306802-3f31-4a30-9420-d70bc57f88d1",
      "name": "If5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41d771bf-5fa0-4743-a40d-f0555fc78268",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "7d12fe46-151e-467c-8bf5-516fb9f3b4c7",
              "name": "type",
              "value": "={{ $('SetFieldsBasic').first().json.type }}",
              "type": "string"
            },
            {
              "id": "cd799f53-df81-49a0-852d-b430b8be57cc",
              "name": "phone",
              "value": "={{ $('SetFieldsBasic').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "0ab1a571-7f43-43d8-99aa-1777148c8b4d",
              "name": "timestamp",
              "value": "={{ $('SetFieldsBasic').first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "83c2b698-b3b6-4951-900e-6ae8fb6c1c2a",
              "name": "app_name",
              "value": "={{ $('SetFieldsBasic').first().json.app_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8064,
        2768
      ],
      "id": "dd42c5c9-4f0b-4a6f-92c2-3348e494bcd0",
      "name": "SetMessageDebounce"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        3008
      ],
      "id": "b60b4e36-f70e-49d1-8254-bd6d31d0c08f",
      "name": "Merge4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').item.json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"video\",\n \"mimetype\":\"video/mp4\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "ade64f11-d165-4379-9ee2-ab06c46485d7",
      "name": "(media)Evolution API - HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        2352
      ],
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a50fc6e-4c02-434e-b364-618bedf5ac59",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        336
      ],
      "id": "358bf915-433e-4a8c-8545-878edb2f7697",
      "name": "SetText"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3088,
        912
      ],
      "id": "66c122c3-d922-46ee-9f1d-c221708c81a2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "suQdsHsEoVjlixfK",
          "name": "OpenAI account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 🤖 AGENTE IA PRINCIPAL & CONTEXTO DO CLIENTE\n\n• **When chat message received:** Trigger de entrada manual do chat de testes interno do n8n.\n• **CustomerData / CustomerData2:** Consulta e cadastra o histórico do cliente na Data Table do n8n.\n• **GetInvoices1 / GetInvoices2:** Carrega pedidos anteriores, comanda e faturas em aberto.\n• **ConfigTest / Config:** Define os prompts do sistema, diretrizes de atendimento e chaves globais.\n• **Merge1:** Unifica a entrada vinda do WhatsApp real com o Chat de teste do n8n.\n• **Atendente AI (LangChain Agent):** Cérebro principal que gerencia o diálogo, tira dúvidas e aciona ferramentas.",
        "height": 668,
        "width": 3848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5088,
        128
      ],
      "id": "64ecb634-804c-416d-8612-a46caa018f59",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# 🧠 MEMÓRIA DA CONVERSA & MODELO LLM\n\n• **Simple Memory:** Janela de contexto imediata fornecida ao Agente durante o raciocínio.\n• **OpenAI Chat Model1:** Provedor do LLM (GPT-4o / GPT-3.5) configurado com temperatura e comportamento.",
        "height": 228,
        "width": 2356,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5088,
        832
      ],
      "id": "e70c5ec8-4d0e-4b36-875a-e15486a68fd8",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# ✂️ DIVISÃO DE RESPOSTAS LONGAS\n\n• **If3:** Valida se a resposta gerada pelo Agente IA não está vazia.\n• **DivideEm3Blcos (Code JS):** Quebra textos longos em parágrafos ou blocos menores para parecer digitação humana.\n• **Loop Over Items (Split in Batches):** Itera e envia cada bloco de mensagem um por um.",
        "height": 1264,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        96
      ],
      "id": "2429cdb6-ede3-4197-8e72-5a076ff1f90b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "jsCode": "// Obtenha o texto da entrada\nconst inputText = $input.first().json.output || \"\";\n// Separe o texto em um array utilizando '\\n' como delimitador\nconst textBlocks = inputText.split('\\n').filter(block => block.trim() !== \"\"); // Filtra linhas vazias\n// Obtenha o tipo da mensagem do nó 'SetFieldsBasic'\nconst type_msg = $('SetFieldsBasic').first().json.type;\n// Função para identificar o tipo de mídia com base no link ou no argumento 'tipo'\nconst determineMediaType = (url) => {\n  // Extrai o argumento 'tipo' da URL manualmente\n  const tipoMatch = url.match(/[?&]tipo=([^&]+)/);\n  if (tipoMatch) {\n    return tipoMatch[1].replace(')','').replace('(',''); // Retorna o valor de 'tipo' na URL, se presente\n  }\n  // Expressões regulares para identificar o tipo de mídia com base na extensão do link\n  const pdfRegex = /\\.pdf$/i;\n  const docRegex = /\\.(doc|docx)$/i;\n  const imageRegex = /\\.(jpg|jpeg|png|gif|bmp|svg|webp)$/i;\n  const videoRegex = /\\.(mp4|mov|avi|wmv|mkv|flv|webm)$/i;\n  const audioRegex = /\\.(mp3|wav|ogg|m4a)$/i;\n  if (pdfRegex.test(url)) return 'pdf';\n  if (docRegex.test(url)) return 'doc';\n  if (imageRegex.test(url)) return 'image';\n  if (videoRegex.test(url)) return 'video';\n  if (audioRegex.test(url)) return 'audioMessage';\n  return null;\n};\n// Função para extrair a URL de um texto\nconst extractUrl = (text) => {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)/g; // Captura qualquer URL em um texto\n  const match = text.match(urlRegex);\n  return match ? match[0] : null; // Retorna a primeira URL encontrada\n};\n\n// Não precisamos mais dessa função, pois todas as mídias serão tratadas individualmente\n\n// Preparação para processamento\nlet outputArray = []; // Armazena blocos processados\nlet firstBlockProcessed = false;\nlet mediaItems = [];\nlet textItems = [];\n\n// Processa o primeiro bloco separadamente (regras especiais)\nif (textBlocks.length > 0) {\n  const firstBlock = textBlocks[0];\n  const url = extractUrl(firstBlock);\n  const mediaType = url ? determineMediaType(url) : null;\n  \n  // Adiciona o texto do primeiro bloco\n  const textWithoutUrl = firstBlock.replace(url || '', '').trim();\n  if (textWithoutUrl) {\n    textItems.push({\n      block: null,\n      text: textWithoutUrl,\n      type: type_msg\n    });\n  }\n  \n  // Adiciona a mídia do primeiro bloco, se existir\n  if (url && mediaType) {\n    mediaItems.push({\n      block: url,\n      text: null,\n      type: mediaType\n    });\n  }\n  \n  firstBlockProcessed = true;\n}\n\n// Processa os blocos restantes\nfor (let i = 1; i < textBlocks.length; i++) {\n  const block = textBlocks[i];\n  const url = extractUrl(block);\n  const mediaType = url ? determineMediaType(url) : null;\n  const adjustedMediaType = mediaType === 'audioMessage' ? 'conversation' : mediaType;\n  \n  // Adiciona a mídia, se existir\n  if (url && adjustedMediaType) {\n    mediaItems.push({\n      block: url,\n      text: null,\n      type: adjustedMediaType\n    });\n  }\n  \n  // Adiciona o texto sem a URL, se houver conteúdo\n  const textWithoutUrl = block.replace(url || '', '').trim();\n  if (textWithoutUrl) {\n    textItems.push({\n      block: null,\n      text: textWithoutUrl,\n      type: 'conversation'\n    });\n  }\n}\n\n// NOVA ESTRATÉGIA DE PROCESSAMENTO:\n// 1. Primeiro bloco: mantém o texto original (type_msg), se houver\n// 2. Todas as mídias: cada mídia terá seu próprio bloco separado (independente do tipo)\n// 3. Textos adicionais: todos agrupados em um bloco\n\n// Adiciona o primeiro bloco de texto (com tipo original)\nif (textItems.length > 0) {\n  outputArray.push(textItems[0]);\n}\n\n// Adiciona cada mídia individualmente em seu próprio bloco\n// Desta forma, nenhum tipo de mídia será agrupado no mesmo bloco\nmediaItems.forEach(item => {\n  outputArray.push(item);\n});\n\n// Adiciona o bloco de textos adicionais (se houver mais de um texto)\nif (textItems.length > 1) {\n  const additionalTexts = textItems.slice(1);\n  const combinedText = additionalTexts.map(item => item.text).join('\\n');\n  \n  if (combinedText) {\n    outputArray.push({\n      block: null,\n      text: combinedText,\n      type: 'conversation'\n    });\n  }\n}\n\n// Limita a no máximo 3 blocos\noutputArray = outputArray.slice(0, 5);\n\n// Filtra itens válidos antes de retornar\nreturn outputArray\n  .filter(item => item.block !== null || item.text !== null) // Remove objetos vazios\n  .map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        224
      ],
      "id": "68a44299-a972-4ddc-8865-7c04e77061b0",
      "name": "DivideEm3Blcos"
    },
    {
      "parameters": {
        "content": "# 🎙️ PROCESSAMENTO DE ÁUDIO DE ENTRADA\n\n• **GetAudio-HTTP Request:** Baixa o arquivo de áudio de voz do WhatsApp via Evolution API.\n• **Convert to File:** Transforma a string Base64 recebida em um arquivo binário legível.\n• **OpenAI (Whisper):** Transcreve com alta precisão o áudio do cliente em texto interpretável pelo Agente.",
        "height": 380,
        "width": 964,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6496,
        496
      ],
      "id": "ffb7dfb3-487a-4686-9c5b-45479661aceb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df119838-c757-4618-a3c8-2e1aede4115b",
              "name": "text",
              "value": "=oi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b62d807-23d4-44d9-a6fd-40cc3a414df8",
      "name": "SetTextExtendedTextMessage1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6432,
        1568
      ]
    },
    {
      "parameters": {
        "content": "# ⚙️ CONFIGURAÇÃO INICIAL & FILTROS DE ENTRADA\n\n• **Webhook:** Recebe as requisições HTTP em tempo real do WhatsApp via Evolution API.\n• **If (Valida Evento):** Garante que o payload recebido contém dados válidos de mensagem.\n• **SetFieldsBasic:** Mapeia variáveis universais: telefone, mensagem, instâncias, IDs e chaves de API.\n• **FromMe-Switch:** Filtra se a mensagem veio do cliente ou se foi enviada pelo próprio atendente/bot.\n• **BuscaTrapList1 / If1 / Switch:** Verifica no Redis se o cliente está em atendimento humano manual. Se estiver, interrompe a IA.",
        "height": 340,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8240,
        1008
      ],
      "id": "ff6525dd-1e33-42fc-8127-9784a22e7dd8",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "298baf1f-61fd-4d23-9f78-b85ab6f847e0",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6176,
        176
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9108c7ad-4e13-4cc6-be36-eeaf1dba991e",
              "name": "text",
              "value": "=# Mensagem do Agente que analizou a imagem que o cliente enviou:\n{{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5744,
        176
      ],
      "id": "4e044948-50f4-4ed5-8d6a-983f0686cbc8",
      "name": "SetText2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=# Instruções para Extração Visual de Comprovantes e Imagens\n\nVocê é um extrator de dados estruturados para comprovantes de pagamento Pix e imagens enviadas pelos clientes da Pizzaria Dona Rosa.\n\nSua ÚNICA função é extrair objetivamente os dados visíveis no comprovante sem tomar decisões finais de alteração de status.\n\nExtraia estritamente os seguintes campos em formato JSON:\n1. `tipo_imagem`: \"comprovante_pix\", \"cardapio\", \"produto\" ou \"outro\"\n2. `valor_pago`: valor numérico em Reais (ex: 55.00)\n3. `data_pagamento`: data visível no comprovante (DD/MM/YYYY)\n4. `horario_pagamento`: horário visível no comprovante (HH:MM:SS)\n5. `favorecido`: nome do favorecido/recebedor\n6. `instituicao_bancaria`: banco do favorecido ou pagador\n7. `id_transacao`: código de autenticação/E2E se visível\n8. `campos_ausentes`: lista de campos exigidos não identificados na imagem\n9. `divergencias`: quaisquer divergências visíveis em relação ao esperado (favorecido != José Roberto Barbosa Pessoa)\n10. `confianca_extração`: \"alta\", \"media\" ou \"baixa\"\n\nMensagem/Texto do cliente enviado com a imagem:\n{{ $('SetFieldsBasic').first().json.text }}\n",
        "inputType": "base64",
        "options": {}
      },
      "id": "791d6591-2f78-4764-992b-e257868c5a7d",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -5952,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "suQdsHsEoVjlixfK",
          "name": "OpenAI account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 🖼️ PROCESSAMENTO DE IMAGEM DE ENTRADA\n\n• **GetImage-HTTP Request:** Baixa a imagem ou foto enviada pelo cliente no WhatsApp.\n• **Convert to File1:** Converte o conteúdo baixado em arquivo de imagem binário.\n• **OpenAI3 (Vision):** Analisa a imagem usando visão computacional para descrever o conteúdo para o Agente.\n• **SetText2:** Padroniza o texto gerado a partir da imagem.",
        "height": 340,
        "width": 964,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6496,
        80
      ],
      "id": "29208a15-39be-46ca-bc3a-207c09353fd6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3376,
        912
      ],
      "id": "9c1f9d0b-622c-4326-aa4a-8c7c43ffa5e9",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"number\":\"{{ $('SetFieldsBasic').first().json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"document\",\n \"mimetype\":\"application/pdf\",\n \"media\":\"{{ $json.url }}\",\n\"fileName\":\"{{ $json.file_name }}\"\n}",
        "options": {}
      },
      "id": "d9fe2d7a-9f0a-46ac-ba8c-ac2dbf01fbb7",
      "name": "(pdf)Evolution API - HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        2112
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"number\":\"{{ $('SetFieldsBasic').first().json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"image\",\n \"mimetype\":\"image/png\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"Foto\"\n}",
        "options": {}
      },
      "id": "439c7788-db7f-48bb-a84f-bd258d5bf3d7",
      "name": "(Image)Evolution API - HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        2640
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44dfa4b2-581a-4146-94f4-dda22a89747a",
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.block }}",
              "type": "string"
            },
            {
              "id": "2ed14661-2e8f-4ae3-bc34-840505506fff",
              "name": "file_name",
              "value": "={{ $json.block.split('?').first().split('/').pop() || 'pdf' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        1824
      ],
      "id": "7c4637c4-29cd-4c67-8c9e-9cfbe9bd01d2",
      "name": "SetPdfUrl"
    },
    {
      "parameters": {
        "content": "# 📋 INSTRUÇÕES E CONFIGURAÇÕES DO FLUXO\n\n### 💡 Passo a Passo de Inicialização:\n1. **Credenciais:** Cadastre todas as credenciais necessárias (OpenAI, Redis, Evolution API, ElevenLabs) antes de iniciar.\n2. **SetFieldsBasic:** Verifique se as variáveis da Evolution API e ElevenLabs correspondem ao seu ambiente.\n3. **Webhook:** Confirme a URL do Webhook na sua instância da Evolution API para receber os eventos do WhatsApp.\n4. **Tools / Subfluxos:** Selecione novamente as referências das ferramentas nos nós do Agente caso tenham perdido o vínculo na importação.\n5. **Comunidade & Suporte:** https://comunidade.aalencar.com.br",
        "height": 1020,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -9232,
        64
      ],
      "id": "288ace9f-8ade-44e7-a17e-751ddd35a3c0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Você é a Rosa, atendente oficial do delivery da Pizzaria Dona Rosa em Brejo-MA. Seu trabalho é atender os clientes com cordialidade, sugerir produtos, montar o pedido temporário (rascunho) e encaminhar ao 'AgentCaixa'.\n\n## Dados Oficiais da Pizzaria Dona Rosa:\n- Nome: Pizzaria Dona Rosa\n- Atendente: Rosa\n- Localização: Brejo - MA\n- Retirada no Local: Rua do Estádio, 60, em frente ao Bar do Sebastião\n- Horário de Funcionamento: Atendimento diariamente das 18h00 às 23h30; sábados e domingos até 23h59.\n- Contatos/Redes/Site: A pizzaria não possui telefone, WhatsApp, Instagram ou site divulgados para atendimento fora deste chat. Caso o cliente pergunte, informe educadamente que o atendimento é realizado exclusivamente por este canal. NUNCA invente telefones, contatos ou sites.\n\n## Regras Fundamentais do Catálogo e RAG:\n- IMPORTANTE: Antes de responder sobre qualquer produto, preço, sabor, ingrediente, categoria, tamanho, limite de sabores (ex: Brotinha 1 sabor, G 2 sabores, XF 3 sabores, Extra 4 sabores), bebidas ou regra do casco de retornáveis, consulte obrigatoriamente a ferramenta 'search_restaurante_data'.\n- Nunca invente produtos, preços, ingredientes ou regras que não estejam no retorno da busca. Se a busca não retornar o item, informe que o produto não consta no cardápio oficial.\n\n## Fluxo de Atendimento:\n1. Saudação cordial chamando o cliente pelo primeiro nome se disponível.\n2. Auxiliar o cliente na seleção dos produtos consultando a ferramenta 'search_restaurante_data'.\n3. Confirmar os itens selecionados com nome exato, tamanho, quantidade e observações.\n4. Salvar o rascunho do pedido utilizando a ferramenta 'UpdateAddRascunho'.\n5. Solicitar a modalidade (Entrega ou Retirada/Consumo no Local).\n   - Se Entrega: Verificar e solicitar os campos obrigatórios do endereço (Bairro, Rua/Travessa e Ponto de Referência/Complemento; Número da casa é opcional). Salvar o cadastro com 'UpdateCustomer'.\n   - Se Retirada ou Consumo no Local: Não exigir endereço de entrega.\n6. Encaminhar o atendimento ao 'AgentCaixa' para finalizar a cobrança e o pagamento.\n\n## Link para Download do Cardápio em PDF (se solicitado pelo cliente):\n- https://ukrrlfdyxtvlgjhqweci.supabase.co/storage/v1/object/public/downloads/cardapio.pdf?tipo=pdf\n\n## Variáveis Úteis:\n- Pedidos do cliente (invoices): {{ $json.invoices }}\n- Telefone do cliente: {{ $json.phone }}\n- Nome do cliente: {{ $json.name }}\n- Data atual: {{ $now.format('yyyy-MM-dd') }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1904,
        224
      ],
      "id": "ede00237-4ac5-4f78-993f-cf3d695ae00d",
      "name": "Atendente AI",
      "retryOnFail": false,
      "notesInFlow": true,
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "notes": "Agente principal",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 💬 ENVIO DE RESPOSTA EM TEXTO\n\n• **Switch1:** Identifica que o formato final da resposta escolhido é texto.\n• **SetText / OpenAI1:** Formata e refina a estrutura da mensagem final.\n• **Merge2:** Consolida os dados prontos para envio.\n• **If5 & Evolution API HTTP:** Dispara o texto formatado para o WhatsApp do cliente via Evolution API.",
        "height": 672,
        "width": 2968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        48
      ],
      "id": "3219787b-a952-4f64-957e-5073bc02645f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 🔊 GERAÇÃO E ENVIO DE ÁUDIO (ELEVENLABS)\n\n• **If2 & IF-ElevenLabs:** Verifica se a opção de responder por voz está ativada no sistema.\n• **ElevenLabsGenerateVoice:** Converte a resposta em áudio ultra-realista com a voz personalizada da pizzaria.\n• **Merge3 & Audio-Base64-Extract:** Prepara o arquivo binário de áudio gerado.\n• **(audio)Evolution API HTTP:** Transmite a mensagem de voz gravada para o WhatsApp do cliente.",
        "height": 784,
        "width": 2968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        768
      ],
      "id": "48102343-e9bf-4826-829f-5ea1953e89fa",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -4640,
        240
      ],
      "id": "7f09da77-6c98-423d-9292-8650d27a5522",
      "name": "When chat message received",
      "webhookId": "b0da483d-752e-4cad-90f5-4d04211e1e4a",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f2ecd81-ed5a-4b1d-81fc-d6dff10fd05a",
              "leftValue": "={{ $('Merge1').first().json.mode }}",
              "rightValue": "test",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        224
      ],
      "id": "5ddae2d1-7abe-4dac-a7ba-450913ccd96a",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23b1bc7-3ed9-4d80-8740-674c94821a70",
              "name": "chatInput",
              "value": "={{ $('AgruparMSGs1').first().json.text }}",
              "type": "string"
            },
            {
              "id": "1db63104-e993-4697-8b98-627ca5dc2f3b",
              "name": "sessionId",
              "value": "={{ $('SetFieldsBasic').first().json.phone +102123 }}",
              "type": "string"
            },
            {
              "id": "105543ff-22e2-4321-819b-0f3cf3256f41",
              "name": "name",
              "value": "={{ $('CustomerData').first().json.name || $('SetFieldsBasic').first().json.user_from }}",
              "type": "string"
            },
            {
              "id": "f2a36f46-def6-42b9-99d1-291f225c6cc2",
              "name": "phone",
              "value": "={{ $('SetFieldsBasic').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "2f41ed00-0c6c-43e9-b8ab-fae12e4640af",
              "name": "mode",
              "value": "production",
              "type": "string"
            },
            {
              "id": "6885c274-f0a1-4673-aa40-a7120947708e",
              "name": "invoice_number",
              "value": "={{ $('GetInvoices2').all().find(item => item.json.status === 'rascunho')?.json?.invoice_number || ('INV-' + $now.format('yyyyMMdd') + '-' + $('SetFieldsBasic').first().json.phone) }}",
              "type": "string"
            },
            {
              "id": "e5636a27-ca54-40b4-a1c6-bfd01a306618",
              "name": "evolutiom_api_url",
              "value": "={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}",
              "type": "string"
            },
            {
              "id": "88aa67d3-2ad0-47e9-a72a-4a7c1431ca86",
              "name": "evolution_instance",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_instance }}",
              "type": "string"
            },
            {
              "id": "83ed88ae-0b0e-49af-b525-74035108d62c",
              "name": "evolution_api_key",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}",
              "type": "string"
            },
            {
              "id": "e01bec5b-2b2e-4fe9-8bb9-7eb323a801ed",
              "name": "invoices__DEV_DONA_ROSA_20260721",
              "value": "={{ $('GetInvoices2').all().map(item => item.json).toJsonString()}}",
              "type": "string"
            },
            {
              "id": "4eb1baf9-1acd-4388-97d1-50c738da85e6",
              "name": "endereco",
              "value": "={{ $('CustomerData').first().json.endereco }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3696,
        560
      ],
      "id": "c9154ccd-9b9c-4f73-a81e-62ab73c87307",
      "name": "Config"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2800,
        240
      ],
      "id": "5ec39ed9-ecbf-4432-ae95-a28ffbafef6c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "aRz84tT7Vd03q3iW",
          "mode": "list",
          "cachedResultName": "customers__DEV_DONA_ROSA_20260721"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('SetFieldsBasic').first().json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('SetFieldsBasic').first().json.phone }}",
            "name": "={{ $('SetFieldsBasic').first().json.user_from || '' }}",
            "customer_name": "={{ $('SetFieldsBasic').first().json.user_from || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "busines_id",
              "displayName": "busines_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resumo",
              "displayName": "resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "followup_data",
              "displayName": "followup_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "matchType": "allConditions"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4640,
        560
      ],
      "id": "d52da98e-3ce6-40a8-a924-87c204ca7676",
      "name": "CustomerData"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eH6i1N4Yh9zX7BqR",
          "mode": "list",
          "cachedResultName": "invoices__DEV_DONA_ROSA_20260721"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('When chat message received').first().json.sessionId }}"
            }
          ]
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4016,
        240
      ],
      "id": "d50ec2c6-eb17-4f23-aeff-7b25c74780a0",
      "name": "GetInvoices1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eH6i1N4Yh9zX7BqR",
          "mode": "list",
          "cachedResultName": "invoices__DEV_DONA_ROSA_20260721"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4000,
        560
      ],
      "id": "9179431f-ad16-4493-a544-8d2c080fb04a",
      "name": "GetInvoices2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('SetFieldsBasic').first().json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('SetFieldsBasic').first().json.MessageID }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "7ec23e33-2590-4b82-9378-1448a0550125",
      "name": "GetImage-HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6400,
        176
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "aRz84tT7Vd03q3iW",
          "mode": "list",
          "cachedResultName": "customers__DEV_DONA_ROSA_20260721"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('When chat message received').first().json.sessionId }}",
            "name": "={{ $('When chat message received').first().json.sessionId }}",
            "customer_name": "={{ $('When chat message received').first().json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "busines_id",
              "displayName": "busines_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resumo",
              "displayName": "resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "followup_data",
              "displayName": "followup_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "upsert",
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('When chat message received').first().json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4336,
        240
      ],
      "id": "2801d265-ddfb-4bc7-b005-dd5fc01ac24f",
      "name": "CustomerData2"
    },
    {
      "parameters": {
        "toolDescription": "Agente responsável por processar o fechamento do pedido, modalidade de entrega/retirada, endereço e conferência de pagamento.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Você é o AgentCaixa, responsável por processar o fechamento financeiro, modalidade de entrega/retirada, endereço e pagamentos da Pizzaria Dona Rosa.\n\n## Regras de Cobrança e Modalidades:\n- Taxa de Entrega: Exatamente R$ 5,00 para entregas (adicionar ao valor total dos produtos).\n- Retirada no Local ou Consumo no Estabelecimento: Taxa de entrega R$ 0,00.\n- Formas de Pagamento Aceitas: Pix, Dinheiro, Cartão na Entrega/Retirada.\n\n## Fluxo por Forma de Pagamento e Modalidade:\n1. **Dinheiro**: Perguntar se o cliente precisa de troco (\"troco para quanto?\"). Definir status como 'a_receber'.\n2. **Cartão (na entrega ou retirada)**: Informar que a maquininha será levada/utilizada. Definir status como 'a_receber'.\n3. **Retirada/Consumo Local sem forma definida**: Pagamento no estabelecimento. Definir status como 'a_receber'.\n4. **Pix**:\n   - Para Retirada/Consumo Local: Enviar a chave Pix SOMENTE se o cliente solicitar expressamente.\n   - Dados Oficiais do Pix: Chave/Número `98970278100` | Favorecido: `José Roberto Barbosa Pessoa` | Banco: `Nu Pagamento S.A. - Instituição de Pagamento`.\n   - Ao fornecer os dados Pix, solicitar a foto/imagem do comprovante de pagamento.\n   - Status inicial: 'aguardando' (aguardando envio/conferência do comprovante).\n\n## Validação de Endereço (Para Entrega):\n- Para entregas, valide se o cliente forneceu os 3 campos obrigatórios: Bairro, Rua/Travessa e Ponto de Referência/Complemento (Número da casa é opcional).\n- Se faltar qualquer um dos 3 campos obrigatórios, solicite o campo ausente antes de concluir o pedido.\n\n## Análise de Comprovante de Pagamento Pix:\n- Quando o cliente enviar um comprovante, analise a imagem extraída pelo nó de visão/OpenAI3.\n- Compare o valor pago, data/horário e favorecido (`José Roberto Barbosa Pessoa`).\n- Se o comprovante for compatível e válido: Alterar o status para 'pago' e registrar na descrição 'Comprovante visual conferido, sem confirmação bancária'.\n- Se o comprovante for divergente, ilegível ou incompleto: Manter o status em 'aguardando' e encaminhar para verificação humana. NUNCA alegar consulta bancária em tempo real.\n\n## Contrato Único de Status:\nOs únicos status válidos no sistema são: `rascunho`, `aguardando`, `a_receber`, `pago`, `cancelado`.\n\n## Atualização da Invoice:\nUtilize a ferramenta 'UpdateAddInvoice' para atualizar o pedido com status, modalidade, taxa e endereço corretos.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1920,
        1136
      ],
      "id": "3dd47399-6972-470f-bc12-d8523d855283",
      "name": "AgentCaixa",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cria ou Atualiza  um pedido do cliente (invoice)",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "eH6i1N4Yh9zX7BqR",
          "mode": "list",
          "cachedResultName": "invoices__DEV_DONA_ROSA_20260721"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Merge1').first().json.phone }}"
            },
            {
              "keyName": "invoice_number",
              "keyValue": "={{ $('Merge1').first().json.invoice_number }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Merge1').first().json.phone }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `Status do pedido: pago, aguardando ou cancelado`, 'string') }}",
            "total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total', `Valor total do pedido e taxa de entrega se houver`, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `Lista dos produtos solicitados com quantidade e preço e valor total`, 'string') }}",
            "customer_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', `Nome do cliente`, 'string') }}",
            "invoice_number": "={{ $('Merge1').first().json.invoice_number }}",
            "forma_pagamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pagamento', `Informações sobre o pagamento, se enviou comprovante e quais informações do comprovante ou irá pagar com cartão ou ainda se vai precisar de troco`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "forma_pagamento",
              "displayName": "forma_pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1392,
        1216
      ],
      "id": "edd01f6b-87d5-4a86-b873-3594022fa384",
      "name": "UpdateAddInvoice"
    },
    {
      "parameters": {
        "content": "# Agents\n",
        "height": 276,
        "width": 3876,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5104,
        1104
      ],
      "id": "0acbf849-8e81-40bf-bafb-16bef7f15637",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# 🛠️ FERRAMENTAS (TOOLS) DO AGENTE IA\n\n• **search_restaurante_data:** Busca cardápio, sabores de pizzas, bordas recheadas, bebidas e valores.\n• **Calculator:** Realiza contas matemáticas exatas para somar itens e taxas sem erros.\n• **UpdateAddRascunho:** Grava e atualiza os itens selecionados no carrinho/rascunho de compras.\n• **UpdateCustomer:** Salva os dados cadastrais e endereço de entrega do cliente na Data Table.\n• **AgentCaixa / UpdateAddInvoice:** Especialista em fechar a conta, calcular totais e gerar o pedido final.\n• **SendWhatsappMsg:** Envia notificações diretas no WhatsApp quando acionado como ferramenta.",
        "height": 228,
        "width": 1444,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2688,
        832
      ],
      "id": "550427ca-1bb8-47ae-ab7f-47d14cf2804b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Atualiza as informações do cliente para entrega",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "aRz84tT7Vd03q3iW",
          "mode": "list",
          "cachedResultName": "customers__DEV_DONA_ROSA_20260721"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Merge1').first().json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `Nome do cliente`, 'string') }}",
            "endereco": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endereco', `Endereço do cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "resumo",
              "displayName": "resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imovel_pretendido",
              "displayName": "imovel_pretendido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nivel_interesse",
              "displayName": "nivel_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "localizacao_preferida",
              "displayName": "localizacao_preferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retornar_em",
              "displayName": "retornar_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1408,
        880
      ],
      "id": "d1006fbc-84e6-4c8d-b928-cbc3dbac534f",
      "name": "UpdateCustomer"
    },
    {
      "parameters": {
        "toolDescription": "Pesquisa exclusivamente o catálogo oficial da Pizzaria Dona Rosa. Use antes de responder sobre produtos, preços, sabores, ingredientes, categorias, tamanhos, limites de sabores, bebidas, volumes e regra de casco. Envie consulta curta, explícita e contextualizada. Não use como fonte de endereço, horário, pagamento ou Pix e não complete informação ausente.",
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED_SECRET]"
            },
            {
              "name": "apikey",
              "value": "[REDACTED_SECRET]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Consulta curta de catálogo, por exemplo: preço pizza G nordestina; ingredientes pizza portuguesa; bebidas retornáveis e regra do casco; limite de sabores pizza XF; pastéis doces disponíveis.`, 'string') }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "descriptionType": "manual"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -2192,
        880
      ],
      "id": "9b9e92a5-be2f-4500-8511-565a7c8554ad",
      "name": "search_restaurante_data",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1968,
        880
      ],
      "id": "7348ec2d-f0e6-43ea-bd0f-2ad1166c8e00",
      "name": "Calculator",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Salva (anota) o pedido temporário com os produtos selecionados pelo cliente e que será enviado ao caixa para finalização",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "eH6i1N4Yh9zX7BqR",
          "mode": "list",
          "cachedResultName": "invoices__DEV_DONA_ROSA_20260721"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Merge1').first().json.phone }}"
            },
            {
              "keyName": "invoice_number",
              "keyValue": "={{ $('Merge1').first().json.invoice_number }}"
            },
            {
              "keyName": "status",
              "keyValue": "rascunho"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Merge1').first().json.phone }}",
            "status": "rascunho",
            "total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total', `Valor total do pedido e taxa de entrega se houver`, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `Lista dos produtos solicitados com quantidade e preço e valor total`, 'string') }}",
            "customer_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', `Nome do cliente`, 'string') }}",
            "invoice_number": "={{ $('Merge1').first().json.invoice_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "forma_pagamento",
              "displayName": "forma_pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1584,
        880
      ],
      "id": "605be368-aa3b-4c6a-aeb0-54551a10097f",
      "name": "UpdateAddRascunho"
    },
    {
      "parameters": {
        "toolDescription": "Envia uma. mensagem de Whatsapp para o restaurante confirmando o pedido",
        "method": "POST",
        "url": "http://127.0.0.1:9999/disabled_dev_stub",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Merge1').first().json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "--SEU-WHATSAPP-AQU--"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Mensagem ao restaurante com dados do cliente, telefone, endereço, lista de produtos e forma de pagamento`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -2496,
        1200
      ],
      "id": "1001ca47-f0e4-459f-83f2-21baf10d1043",
      "name": "SendWhatsappMsg",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23b1bc7-3ed9-4d80-8740-674c94821a70",
              "name": "chatInput",
              "value": "={{ $('When chat message received').first().json.chatInput }}",
              "type": "string"
            },
            {
              "id": "1db63104-e993-4697-8b98-627ca5dc2f3b",
              "name": "sessionId",
              "value": "={{ $('When chat message received').first().json.sessionId }}",
              "type": "string"
            },
            {
              "id": "105543ff-22e2-4321-819b-0f3cf3256f41",
              "name": "name",
              "value": "=EmpreendedorSerial",
              "type": "string"
            },
            {
              "id": "f2a36f46-def6-42b9-99d1-291f225c6cc2",
              "name": "phone",
              "value": "={{ $('When chat message received').first().json.sessionId }}",
              "type": "string"
            },
            {
              "id": "41dcb5ca-ccbe-4a1e-87dc-82638c612720",
              "name": "mode",
              "value": "test",
              "type": "string"
            },
            {
              "id": "d15b6d8b-1e95-47cd-ba10-547cad8f61b8",
              "name": "invoice_number",
              "value": "={{ $('GetInvoices2').all().find(item => item.json.status === 'rascunho')?.json?.invoice_number || ('INV-' + $now.format('yyyyMMdd') + '-' + $('SetFieldsBasic').first().json.phone) }}",
              "type": "string"
            },
            {
              "id": "e52e4aa2-8343-450e-b715-c0844fe65e4f",
              "name": "evolution_api_url",
              "value": "=--SUA-URL-AQUI--",
              "type": "string"
            },
            {
              "id": "59bd55ce-98f3-4747-a81e-671991b5110d",
              "name": "evolution_instance",
              "value": "--SUA-INSTANCIA-AQU",
              "type": "string"
            },
            {
              "id": "c8928147-7239-4cfa-9dfb-4f95db4c3f18",
              "name": "evolution_api_key",
              "value": "--SUA-KEY-AQU",
              "type": "string"
            },
            {
              "id": "1567295a-e1cd-4571-ba31-c1afe553a57e",
              "name": "invoices__DEV_DONA_ROSA_20260721",
              "value": "={{ $('GetInvoices1').all().map(item => item.json).toJsonString()}}",
              "type": "string"
            },
            {
              "id": "5c9501ae-d890-4783-8849-87572cf6a7dc",
              "name": "endereco",
              "value": "={{ $('CustomerData2').first().json.endereco }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3696,
        240
      ],
      "id": "954c8620-4751-4750-92da-9fcb7d651941",
      "name": "ConfigTest"
    }
  ],
  "connections": {
    "GetAudio-HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFieldsBasic": {
      "main": [
        [
          {
            "node": "FromMe-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTextExtendedTextMessage": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "SetEphemeralMessage": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SetMessageDebounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SetFieldsBasic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FromMe-Switch": {
      "main": [
        [
          {
            "node": "BuscaTrapList1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RemoveCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveFromTrapList": {
      "main": [
        [
          {
            "node": "Evolution API - HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddTrapList": {
      "main": [
        [
          {
            "node": "Evolution API - HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaTrapList1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GetImage-HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetAudio-HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetConversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetEphemeralMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetTextExtendedTextMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetTextExtendedTextMessage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConversation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveCliente": {
      "main": [
        [
          {
            "node": "AddTrapList",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RemoveFromTrapList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio-Base64-Extract from File": {
      "main": [
        [
          {
            "node": "(audio)Evolution API - HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(audio)Evolution API - HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Evolution API - HTTP Request": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Audio-Base64-Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabsGenerateVoice": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF-ElevenLabs": {
      "main": [
        [
          {
            "node": "ElevenLabsGenerateVoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetPdfUrl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(media)Evolution API - HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(Image)Evolution API - HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "IF-ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoverRepetidos": {
      "main": [
        [
          {
            "node": "AgruparMSGs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgruparMSGs1": {
      "main": [
        [
          {
            "node": "RedisClearMSGs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "ListaMsg-Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RedisPushMsgs1": {
      "main": [
        [
          {
            "node": "ListaMsg-Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RedisClearMSGs3": {
      "main": [
        [
          {
            "node": "CustomerData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaMsg-Redis1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "RemoverRepetidos",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Evolution API - HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SetMessageDebounce": {
      "main": [
        [
          {
            "node": "RedisPushMsgs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(media)Evolution API - HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "SetText": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AgentCaixa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DivideEm3Blcos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTextExtendedTextMessage1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetText2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "SetText2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(pdf)Evolution API - HTTP Request": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "(Image)Evolution API - HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "SetPdfUrl": {
      "main": [
        [
          {
            "node": "(pdf)Evolution API - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente AI": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "CustomerData2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "DivideEm3Blcos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Atendente AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CustomerData": {
      "main": [
        [
          {
            "node": "GetInvoices2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices1": {
      "main": [
        [
          {
            "node": "ConfigTest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices2": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImage-HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CustomerData2": {
      "main": [
        [
          {
            "node": "GetInvoices1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "UpdateAddInvoice": {
      "ai_tool": [
        [
          {
            "node": "AgentCaixa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgentCaixa": {
      "ai_tool": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateCustomer": {
      "ai_tool": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_restaurante_data": {
      "ai_tool": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateAddRascunho": {
      "ai_tool": [
        [
          {
            "node": "Atendente AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SendWhatsappMsg": {
      "ai_tool": [
        [
          {
            "node": "AgentCaixa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConfigTest": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": null,
  "versionId": "ed2d6772-9e49-4cfb-a939-ab1ac6a695f8",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "activeVersion": null
}